# ##TITLE## (##YEAR##)

##GENRE##

## Il film in breve
##DESCRIPTION##

[dettagli](##URL##)

## La locandina
<img src="##POSTER##"  width="360px" title="##TITLE##">


## Il codice
```processing
##SNIPPET##
```
