---
permalink: ##LINK##
---
# ##TITLE## (##YEAR##)

##GENRE##

## Il film in breve
##DESCRIPTION##

[details](##URL##)

## Movie Poster
<img src="##POSTER##"  width="360px" title="##TITLE##">


## The code
```java
##SNIPPET##
```

> MdPC - a collection of minimalist movie posters
