---
permalink: ##LINK##
---
# ##TITLE## (##YEAR##)

##GENRE##

## Plot
##DESCRIPTION##

[details](##URL##)

## Movie Poster
<img src="##POSTER##"  width="360px" title="##TITLE##">


## The code
```java
##SNIPPET##
```

> MdPC - a collection of minimalist movie posters
> by Daniele Olmisani
> Please, see [LICENSE](../../../LICENSE) file
