# Blood Diamond

di Edward Zwick

2006 - Avventura, Drammatico, Thriller

http://www.imdb.com/title/tt0450259/

## Il film in breve
Le ragazzine troppo curiose fanno fanno strani incontri e rischiano di perdere la testa.

## La locandina
<img src="blood-diamond.png"  width="360px" title="Blood Diamond">


## Il codice
```processing
##SNIPPET##
```
