# Blood Diamond (2006)

di Edward Zwick

Avventura, Drammatico, Thriller

http://www.imdb.com/title/tt0450259/

## Il film in breve

## La locandina
<img src="blood-diamond.png"  width="360px" title="Blood Diamond">


## Il codice
```processing
##SNIPPET##
```
